{{!--
<header class="header">
    <ul class="side-nav fixed section table-of-contents">
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow home-btn">
                <i class="material-icons black-text">home</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow about-btn">
                <i class="material-icons black-text">person</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light black projects-btn">
                <i class="material-icons yellow-text">code</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large waves-effect waves-light yellow contacts-btn">
                <i class="material-icons black-text">email</i>
            </a>
        </li>
    </ul>
</header> --}}

<nav>
    <ul class="side-nav fixed">
        <li class="logo active">
            <a class="home-btn">
                <h1>Velizar Tonchev
                    <span>Web Developer</span>
                </h1>
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text about-btn">
                <i class="material-icons">person</i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text projects-btn">
                <i class="material-icons">code</i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text skills-btn">
                <i class="material-icons">show_chart</i>
                <span>Skills</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text contacts-btn">
                <i class="material-icons">mail</i>
                <span>Contacts</span>
            </a>
        </li>
    </ul>
</nav>