{{!-- <nav class="hide-small-device">
    <ul class="side-nav fixed">
        <li class="logo active">
            <a class="home-btn">
                <h1>Velizar Tonchev
                    <span>Web Developer</span>
                </h1>
            </a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text about-btn">
                <i class="material-icons">person</i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text projects-btn">
                <i class="material-icons">code</i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text skills-btn">
                <i class="material-icons">show_chart</i>
                <span>Skills</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark indigo-text contacts-btn">
                <i class="material-icons">mail</i>
                <span>Contacts</span>
            </a>
        </li>
    </ul>
</nav> --}}

  <nav class="hide-large-device">
    <div class="nav-wrapper">
      <a class="brand-logo center">Velizar Tonchev<span>Web Developer</span></a>
      <a data-target="mobile-demo" class="sidenav-trigger menu-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>