<nav class="hide-large-device" id="navbar-small">
  <div class="nav-wrapper">
    <a class="brand-logo center">Velizar Tonchev<span>Web Developer</span></a>
    <a data-target="mobile-demo" class="sidenav-trigger menu-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>