@media only screen and (max-device-width: 600px) {

    nav#navbar-small {
        background-color: white;
        color: #009898;
        height: 15h;
        position: fixed;
        z-index: 999;
    }

    nav#sidenav-custom {
        width: 150px;
    }

    nav#sidenav-custom .logo {
        display: none;
    }

    .brand-logo {
        color: #009898 !important;
        font-size: 18px !important;
    }

    .brand-logo span {
        display: block;
        font-size: 10px;
        margin-top: -38px;
        padding: 0;
        color: #333;
        font-weight: 200;
    }

    .text-cnt {
        width: 80vw;
        margin-top: 60vh;
        font-size: 32px;
        color: white;
    }

    section.about  blockquote {
        font-size: 24px;
    }

    section.about div.about-text {
        font-size: 20px;
    }

    .title-text {
        font-size: 28px;
    }

  }