@media only screen and (max-device-width: 480px) {

    .hide-small-device {
        display: none;
    }

    nav.hide-large-device {
        background-color: #009898;
    }

    .brand-logo {
        font-size: 18px !important;
    }

    .brand-logo span {
        display: block;
        font-size: 10px;
        margin-bottom: 20px;
        padding: 0;
    }

  }