body {
    color: #333;
    font-size: 16px;
    background: url('../img/paper-vector.jpg');
}

nav#sidenav-custom {
    width: 200px;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 1000;
}

@media (min-width: 600px) {
    .hide-large-device {
      display: none;
    }
}

nav#sidenav-custom ul li.logo {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav#sidenav-custom ul li.logo a:hover {
    background-color: transparent;
}

nav#sidenav-custom ul li.logo h1 {
    font-size: 32px;
    padding: 11px;
    font-weight: 300;
}

nav#sidenav-custom ul li.logo h1:not(span) {
    color: rgb(0, 152, 152);
}

nav#sidenav-custom ul li.logo span {
    display: block;
    margin: auto;
    font-size: 15px;
    font-weight: 100;
}

nav#sidenav-custom ul li {
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0;
    margin: 0;
}

nav#sidenav-custom ul li.active {
    background-color: #FAFAFA;   
}

nav#sidenav-custom ul li:not(.logo) a:hover,
nav#sidenav-custom ul li:not(.logo) a.active {
    border-left: 5px solid rgb(0, 152, 152);
}

nav ul li a {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav#sidenav-custom ul li a i {
    margin-left: 10px;
    position: absolute;
}

nav#sidenav-custom ul li a span {
    margin-left: 45px;
    font-size: 18px;
    font-weight: 200;
    color: #333 !important;
}
.in-view {
    width: 100%;
    min-height: 100vh;
}

.home {
    background: url('../img/me-mountain.jpg') no-repeat center center;
    background-size: cover;
    background-color: white;
}

.overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 143, 143, 0.3);
}

.sub-title {
    width: 100%;
    height: 120px;
    font-weight: 200;
    background-color: #009898;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
}

.title-text {
    margin: auto;
    margin-right: 5vw;
    text-align: end;
    font-size: 3.9vw;
}

.quote-cnt blockquote {
    font-size: 34px;
}

.about-text {
    font-size: 26px;
    font-weight: 200;
}

.text-cnt {
    width: 40vw;
    margin-top: 65vh;
    background-color: #009898;
    margin-right: 3vw;
    font-size: 38px;
    padding: 2%;
    color: white;
    font-weight: 200;
}

.img-resize {
    width: 100px;
    height: 100px;
    margin: 2%;
}

div.card-content a span {
    margin-left: 2%;
    font-size: 20px;
}

div.card-image img {
    min-height: 200px;
}
