html, body {
    margin: 0;
    padding: 0;
    background: url('../img/blue-squares.jpg') repeat;
    background-color: aliceblue;
}

@font-face {
    font-family: custom;
    src: url('../fonts/Bad_Coma.ttf');
}

@font-face {
    font-family: custom-web-dev;
    src: url('../fonts/VtksPropagandaRegular.ttf');
}

::-webkit-scrollbar { 
    display: none; 
}

.header {
    margin-top: 25vh;
    margin-left: 2vw;
    position: absolute;
    z-index: 1000;
}

.logo-cnt {
    position: relative;
}

.logo {
    position: absolute;
    font-family: custom;
    /* font-size: 17em; */
    display: inline-block;
    position: absolute;
    color: white;
    cursor: default;
}

.v {
    font-size: 14vw;
    margin-left: 6vw;
    margin-top: -4vh;
}

.e {
    font-size: 14vw;
    margin-top: 3vh;
    margin-left: 16vw;   
}

.l {
    font-size: 24vw;
    margin-top: -1vh;
    margin-left: 26vw; 
}

.i {
    -webkit-transform: rotate(90deg);
    font-size: 24vw;
    margin-top: -1vh;
    margin-left: 39vw; 
}
.z {
    font-size: 14vw;
    margin-top: -4vh;
    margin-left: 59vw; 
}

.a {
    font-size: 24vw;
    margin-top: 2vh;
    margin-left: 69vw;  
    color: #F9A825;
}

.r {
    font-size: 24vw;
    margin-top: 4vh;
    margin-left: 79vw; 
    /* color: #F9A825; */
    color: rgba(255, 157, 0, 0.7);
}

.t {
    font-size: 24vw;
    margin-top: 25vh;
    margin-left: 9vw; 
}

.o {
    font-size: 24vw;
    margin-top: 25vh;
    margin-left: 19vw; 
    color: rgba(255, 157, 0, 0.7);
}

.n {
    -webkit-transform: rotate(-90deg);
    font-size: 24vw;
    margin-top: 25vh;
    margin-left: 29vw; 
    color: rgba(255, 247, 0, 0.7);
}

.h {
    font-size: 14vw;
    margin-top: 25vh;
    margin-left: 44vw; 
    /* color: #F9A825; */
}

.c {
    font-size: 14vw;
    margin-top: 25vh;
    margin-left: 53vw; 
    color: #F9A825;
}

.te {
    -webkit-transform: rotate(-90deg);
    font-size: 14vw;
    margin-top: 27vh;
    margin-left: 58vw; 
    color: rgba(255, 247, 0, 0.95);
}

.tv {
    font-size: 24vw;
    margin-top: 33vh;
    margin-left: 50vw; 
    /* color: #F9A825; */
} 

.web-dev {
    position: absolute;
    font-family: custom-web-dev;
    color: rgb(255, 247, 0);
    font-size: 2vw;
    margin-top: 93vh;
    margin-left: 80vw;
    /* margin-top: 49%; */
    /* margin-left: 80%; */
}

.home {
    background: url('../img/home-cover.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.2);
    position: absolute;
}

.about {
    min-height: 100vh;
}

.sub-title {
    width: 100%;
    height: 10vh;
    background-color: #F9A825;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title-text {
    margin: auto;
    margin-right: 5vh;
    /* text-align: end; */
    font-family: custom-web-dev;
    font-size: 3.4em;
}

.sub-content {
    margin-top: 5%;
}

.quote-cnt blockquote {
    font-size: 2em;
}

.projects {
    width: 100vw;
    height: 100vh;
}

.contacts {
    width: 100vw;
    height: 100vh;
}

.about-text {
    font-size: 1.5em;
}